@model Entidad.Prestamo

@{
    ViewBag.Title = "Cronograma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table class="table">
        <tr>
            <th>
                <p>Periodo</p>
            </th>
            <th>
                <p>Saldo</p>
            </th>
            <th>
                <p>Amortización</p>
            </th>
            <th>
                <p>Interes</p>
            </th>
            <th>
                <p>Cuota</p>
            </th>
            <th></th>
        </tr>

        @foreach (var cuota in Model.cuotas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => cuota.periodo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cuota.saldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cuota.amortizacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cuota.interes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cuota.cuota)
                </td>
            </tr>
        }

    </table>
    <input type="submit" class="btn btn-block" value="Guardar préstamo" id="guardar" name="guardar" onclick="go()" />
</div>

<script>
    function go() {
    swal({
        title: "Guardado",
        text: "Se guardó el préstamo del cliente y el cronograma de pagos",
        icon: "success",
        button: true,
    })
        .then((willDelete) => {
            if (willDelete) {
                //redirect
                var url = '@Url.Action("GuardarCronograma","Prestamo")';
                window.location.href = "/Prestamo/GuardarCronograma/";
            }
        });
};
</script>